
    <h1><%= title %></h1>
    <p>Welcome to <em>LocalLibrary</em>, a very basic Express website developed by Lizard.</p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
      <li>Books:<%= book_count%></li>
      <li>Copies:<%= book_instance_count%></li>
      <li>Copies available:<%= book_instance_available_count%></li>
      <li>Authors:<%= author_count%></li>
      <li>Genres:<%= genre_count%></li>
    </ul>
 
